---
const { user } = Astro.locals;

const isAdmin = user?.role === "admin";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    {!isAdmin && <meta http-equiv="refresh" content="0;url=/" />}
    <meta name="robots" content="noindex, nofollow" />
    <title>🤫</title>
  </head>

  {!isAdmin ? <div>unauthroised</div> : <div> show shibes</div>}
</html>
