---
import LolCry from "../components/lol-cry.astro";
import { ShibaUpload } from "../components/shiba-upload";

// AWFUL BASIC AUTH //
const password = Astro.url.searchParams.get("password");
const passwordMatched =
  password && password === Astro.locals.runtime.env.TERRIBLE_GATE_PASSWORD;
const IS_ALLOWED_TO_PASS_TERRIBLE_GATE = import.meta.env.DEV_
  ? true
  : passwordMatched;
// AWFUL BASIC AUTH //

const { user } = Astro.locals;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>shibes.lol | home of shiba pics</title>
  </head>

  {
    IS_ALLOWED_TO_PASS_TERRIBLE_GATE ? (
      <body>
        <div>
          {!user ? (
            <div>
              <div>
                <a href="login/google">Sign in with Google</a>
              </div>
            </div>
          ) : (
            <>
              <div> Hello {user.userName} </div>
              <form method="post" action="/logout">
                <button>Sign out</button>
              </form>
            </>
          )}
        </div>

        <div>{user && <ShibaUpload client:load />}</div>
      </body>
    ) : (
      <LolCry />
    )
  }
</html>
