---
import LolCry from "../components/lol-cry.astro";

const APP_DB = Astro.locals.runtime.env.APP_DB;

const { user } = Astro.locals;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>shibes.lol | home of shiba pics</title>
  </head>

  <body>
    <div>
      {
        !user ? (
          <div>
            <div>
              <a href="login/google"> Sign in with Google</a>
            </div>
          </div>
        ) : (
          <>
            <div> Hello {user.userName} </div>
            <form method="post" action="/logout">
              <button>Sign out</button>
            </form>
          </>
        )
      }
    </div>
    {Array.from(Array(20).keys()).map(() => <LolCry />)}
  </body>
</html>
