---
import LolCry from "../components/lol-cry.astro";
import { ShibaUpload } from "../components/shiba-upload";

// AWFUL BASIC AUTH //
const password = Astro.url.searchParams.get("password");
const passwordMatched =
  password && password === Astro.locals.runtime.env.TERRIBLE_GATE_PASSWORD;
const IS_ALLOWED_TO_PASS_TERRIBLE_GATE = import.meta.env.DEV
  ? true
  : passwordMatched;
// AWFUL BASIC AUTH //

const { user } = Astro.locals;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>shibes.lol | ❓❓❓</title>
  </head>

  {
    IS_ALLOWED_TO_PASS_TERRIBLE_GATE ? (
      <body>
        <div class="relative  hero min-h-screen bg-base-200">
          <div class="bg-img" />
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">submit your shibas</h1>
              <p class="py-6">Lets build an archive of shiba pics together!</p>
              {!user ? (
                <a href="login/google">Sign in with Google</a>
              ) : (
                <ShibaUpload client:load />
              )}
            </div>
          </div>
        </div>
      </body>
    ) : (
      <LolCry />
    )
  }
</html>

<style>
  .bg-img {
    background-image: url("/bg.jpg");
    opacity: 25%;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
  }
</style>
