---
import { drizzle } from "drizzle-orm/d1";
import { desc, count } from "drizzle-orm";

import { shibaSubmission } from "../../db/schema";
import LolCry from "../components/lol-cry.astro";
import Navigation from "../components/navigation.astro";
import { PictureGallery } from "../components/picture-gallery";
import { ShibaUpload } from "../components/shiba-upload";
import Footer from "../components/footer.astro";

// AWFUL BASIC AUTH //
const password = Astro.url.searchParams.get("password");
const passwordMatched =
  password && password === Astro.locals.runtime.env.TERRIBLE_GATE_PASSWORD;
// const IS_ALLOWED_TO_PASS_TERRIBLE_GATE = import.meta.env.DEV
//   ? true
//   : passwordMatched;
const IS_ALLOWED_TO_PASS_TERRIBLE_GATE = true;
// AWFUL BASIC AUTH //

const APP_DB = Astro.locals.runtime.env.APP_DB;
const db = drizzle(APP_DB);
const submissions = await db
  .select()
  .from(shibaSubmission)
  .limit(100)
  .orderBy(desc(shibaSubmission.createdAt));

const submissionCount = (
  await db.select({ count: count() }).from(shibaSubmission)
)[0].count;
const { user } = Astro.locals;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>shibes.lol</title>
  </head>

  {
    IS_ALLOWED_TO_PASS_TERRIBLE_GATE ? (
      <body class="relative">
        <Navigation user={user} />
        <div class="relative  hero min-h-screen bg-base-200">
          <div class="bg-img" />
          <div class="hero-content text-center ">
            <div class="max-w-md">
              <h1 class="text-5xl font-semibold">submit your shibas</h1>
              <span class="flex justify-center items-center">
                <span>🙏</span>
                <p class="pt-6">
                  <a
                    class="link"
                    href="https://twitter.com/ShibaEveryHour"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    @ShibaEveryHour
                  </a>{" "}
                  needs your help to build a new archive of shibas!
                  <a
                    class="link hover:link-hover"
                    href="https://twitter.com/chiubaca/status/1795816063835541854"
                  >
                    More info here
                  </a>
                  ...
                </p>
                <span>🙏</span>
              </span>
              <p class="pt-2">
                This collection will be used to keep ShibaEveryHour running!
              </p>
              {submissionCount > 0 ? (
                <p class=" mt-2 mb-6 badge badge-success">
                  {submissionCount - 1}+ shiba images submitted!
                </p>
              ) : (
                <p class=" mt-2 mb-6 badge badge-success">
                  you can be the first to add a shiba!
                </p>
              )}
              {!user ? (
                <div class="flex flex-col w-full border-opacity-50">
                  <p class="pb-2">sign in to contribute*</p>
                  <a class="btn btn-info" href="login/twitter">
                    x / twitter
                  </a>
                  <div class="divider">OR</div>
                  <a class="btn btn-info" href="login/google">
                    google
                  </a>

                  <p class="text-sm pt-4 italic font-thin">
                    *by signing up you're agree to the{" "}
                    <a
                      href="/terms"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="link hover:link-hover"
                    >
                      terms ↗
                    </a>{" "}
                    of this site
                  </p>
                </div>
              ) : (
                <ShibaUpload client:load user={user} />
              )}
            </div>
          </div>
        </div>

        <div class="">
          <h1 id="gallery" class="text-4xl font-bold text-center w-full my-20">
            <span class="flex justify-center items-center">
              <span> 🎉</span> community submissions <span> 🎉</span>
            </span>
          </h1>
          <PictureGallery
            imgRefs={submissions.map((s) => s.imageRef)}
            client:load
          />
        </div>
        <Footer />
      </body>
    ) : (
      <LolCry />
    )
  }
</html>

<style>
  #gallery {
    scroll-margin-top: 65px;
  }
  .bg-img {
    background-image: url("/bg.jpg");
    opacity: 25%;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
  }
</style>
