<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <h6 class="footer-title lowercase">footer stuff lol</h6>
    <a
      href="/terms"
      target="_blank"
      rel="noopener noreferrer"
      class="link link-hover">terms</a
    >
    <a
      href="/privacy"
      target="_blank"
      rel="noopener noreferrer"
      class="link link-hover">privacy</a
    >
    <a
      href="https://twitter.com/ShibaEveryHour"
      target="_blank"
      rel="noopener noreferrer"
      class="link link-hover">@ShibaEveryHour</a
    >
    <a
      href="https://twitter.com/chiubaca"
      target="_blank"
      rel="noopener noreferrer"
      class="link link-hover">@chiubaca</a
    >
    <a
      href="https://ko-fi.com/chiubaca"
      target="_blank"
      rel="noopener noreferrer"
      class="link link-hover">support me | kofi</a
    >
  </nav>
</footer>
