@import "tailwindcss";
@import "@fontsource/comic-relief";
@import "@fontsource/comic-mono";

@plugin "daisyui" {
  themes: all;
}

@layer base {
  html {
    font-family: "Comic Relief", "Comic Sans MS", system-ui;
  }
}

@theme {
  --default-font-family: "Comic Mono", system-ui;
  --font-mono: "Comic Mono", monospace;
}
