@import "tailwindcss";

@plugin "daisyui" {
	themes: all;
}

@layer base {
	html {
		font-family:
			"Coming Soon", "Comic Sans MS", "Comic Neue", "Chalkboard", "Marker Felt",
			cursive;
	}
}

@theme {
	--font-mono: "Comic Mono", monospace;
}